@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* https://coolors.co/62929e-f6f3ef-4a6d7c-393a10-475657 */

:root {
  --text: #393A10;
  /* #313131; */
  --text-light: #888;
  --text-h: #08060d;
  --bg: #f6f3ef;

  --bottom-bg: #475657ee;
  /* #6e9e8844; */
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --tile-bg: transparent;
  /* #dfe2e7; */
  --tile-accent: #4a5b7c;
  /* #204B57; */

  --svg-path: #627f9e;

  --button-active: #2a3752;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sentence-height: 40px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  margin: 0;
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
}


h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

#app {
  width: 100%;
  max-width: 100%;
  margin: 0;
  min-height: 100svh;
  display: flex;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  white-space: pre;
  line-height: 1.4;
  font-size: 14px;
  text-wrap: wrap;
}

.checkboxes {
  display: flex;
  align-items: center;
  gap: 3px;
}

.checkboxes input[type="checkbox"]{
  accent-color: var(--button-active);
}
.slider {
  width: 5em;
  display: flex;
  align-items: center;
}

.slider input[type="range"] {
  appearance: none;
  width: 100%;
  height: 2px;
  background: #ccc;
  border-radius: 999px;
  cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #ccc;
}

/* Thumb */
.slider input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: .4em;
  height: 1em;
  margin-top: -5px;
  border: none;
  /* border-radius: 50%; */
  background: var(--button-active);
  cursor: pointer;
}

.slider input[type="range"]::-moz-range-track {
  height: 2px;
  background: #ccc;
}

.slider input[type="range"]::-moz-range-thumb {
   width: .4em;
  height: 1em;
  border: none;
  background: #111;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0;
  /* padding: 2em; */
}

.top-section {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* main>div {
  border: 1px solid orange;
} */

.quilt-wrapper {
  overflow: auto;
  display: flex;
  flex: 1;
  padding: .5em;
  padding-left: 1em;
  background-color: var(--tile-bg);
  align-items: center;
}

.center {
  overflow: hidden;
  min-width: 250px;
  flex: 3;
  display: flex;

  #en-visualizer {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
  }
  .dependency-doc{
      /* cursor: pointer; */
    width: max-content;
  }
}

.right{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.bottom-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20vh;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.bookmark {
  /* padding: 1em 3em; */
  display: flex;
  flex-direction: column;
  gap: 3em;
  /* background-color: var(--bottom-bg); */
  /* backdrop-filter: blur(6px); */
  color: var(--bottom-bg);
}


.nav-bar {
  position: fixed;
  display: flex;
  width: inherit;
    flex-direction: column;
    height: 2em;
    gap: 0.5em;
    background-color: #fff8;
  
    >div {
      gap: 0.5em;
    }
  }

.reconstruct-wrapper {
  display: flex;
  flex-direction: column;
}

.grammar {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}


#quilt {
  /* width: 100%; */
  color: var(--text-light);
  height: max-content;
  font-size: 5px;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  line-height: .2;
  cursor: pointer;

  .tile-line {
    background-color: #8898b3;
    height: 5px;
    display: block;
    transition: background-color 0.1s ease, color 0.1s ease;
  }

  .tile-line:hover,
  .tile-line-active {
    color: var(--bg);
    background-color: var(--tile-accent);
  }
}

pre {
  font-family: monospace;
  font-size: 12px;
  line-height: 1;
  padding: 40px;
}


.dep-arc {
  fill: none;
  stroke: #aaa;
  stroke-width: 1;
  opacity: 0.8;
}

.dep-word {
  font-weight: 500;
}

.dep-root {
  font-weight: 700;

}

svg {
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;

  text {
    cursor: pointer;
  }
}

.btn {
  border: 1px solid #aaa;
  padding: 0.3em;
  cursor: pointer;
  font-family: "Roboto Slab", "Helvetica Neue", Arial, sans-serif;
  color: var(--text-h);
  background-color: var(--bg);
  transition: all 0.15s ease;
}

.btn:hover,
.btn.active {
  background-color: var(--button-active);
  color: var(--bg);
}

/* GRAPH */

.dependency-svg {
  overflow: visible;
}

.dependency-svg .dep-arrow {
  fill: #aaa;
}

.sdp-sentence-wrap {
  width: max-content;
  height: var(--sentence-height);
}

.dep-sentence-wrap {
  width: max-content;
  height: max-content;
}


/* ---------------------------------------
   Words
--------------------------------------- */

.dependency-svg .dep-word {
  cursor: pointer;
  transition:
    opacity 120ms ease,
    font-weight 120ms ease;
}

.dependency-svg .dep-root {
  font-weight: 600;
}

/* ---------------------------------------
   Root dots
--------------------------------------- */

.dependency-svg .dep-root-dot {
  fill: #aaa;
  transition:
    opacity 120ms ease,
    r 120ms ease;
}

/* ---------------------------------------
   Arcs
--------------------------------------- */

.dependency-svg .dep-arc {
  fill: none;
  stroke: #aaa;
  stroke-width: 1;
  transition:
    opacity 120ms ease,
    stroke 120ms ease,
    stroke-width 120ms ease;
}

/* ---------------------------------------
   Active hover state
--------------------------------------- */

/*
 * When something is hovered, dim everything.
 */

.dependency-svg.has-hover .dep-word {
  opacity: 0.2;
}

.dependency-svg.has-hover .dep-root-dot {
  opacity: 0.2;
}

.dependency-svg.has-hover .dep-arc {
  opacity: 0.15;
}

/*
 * The word being hovered.
 */

.dependency-svg .dep-word.is-highlighted {
  opacity: 1;
  font-weight: 700;
}

/*
 * Words connected by the dependency.
 */

.dependency-svg .dep-word.is-connected {
  opacity: 1;
}

/*
 * Highlighted root dots.
 */

.dependency-svg .dep-root-dot.is-highlighted,
.dependency-svg .dep-root-dot.is-connected {
  opacity: 1;
}

/*
 * Highlighted dependency arcs.
 */

.dependency-svg .dep-arc.is-highlighted {
  opacity: 1;
}




/* SDP */

/*
   SVG
  */

.dependency-svg {
  display: block;
  overflow: visible;
  user-select: none;

}


/*
   Arrow
  */

.dependency-svg .sdp-arrow {
  fill: #aaa;
}


/*
   Words
  */

.dependency-svg .sdp-word {
  cursor: pointer;
  font-size: 14px;
  transition:
    transform 0.5s ease,
    opacity 120ms ease,
    font-weight 120ms ease;

}


/*
   Arcs
*/
.dependency-svg .sdp-arc {
  /* display: none; */
  fill: none;

  stroke: #aaa;
  stroke-width: 1;

  cursor: pointer;

  transition:
    opacity 120ms ease,
    stroke 120ms ease,
    stroke-width 120ms ease;
}


/*
   Relation labels
  */

.dependency-svg .sdp-relation {
  fill: var(--text-light);
  font-size: 8px;
  opacity: 0;
  transition:
    opacity 120ms ease;
}

.dependency-svg .sdp-relation {
  pointer-events: none;
}


.dependency-svg.has-sdp-hover .sdp-word {
  opacity: 0.18;
}

.dependency-svg.has-sdp-hover .sdp-arc {
  opacity: 0.12;
}

.dependency-svg.has-sdp-hover .sdp-relation {
  opacity: 0;
}


/*
   Highlighted word
  */

.dependency-svg .sdp-word.is-sdp-highlighted {
  opacity: 1;
  font-weight: 700;
}


/*
   Connected words
  */.dependency-svg .sdp-word.is-sdp-connected,
  .dependency-svg .sdp-arc.is-sdp-highlighted {
    opacity: 1;
  }
  
  .dependency-svg .sdp-relation.is-sdp-highlighted {
    /* opacity: 0.8; */
  }
  
.sdp-arc.sdp-dm {
  opacity: 0.5;
  stroke: var(--svg-path);
  stroke-width: 1px;
}

.sdp-arc.sdp-pas {
  opacity: 0.5;
  stroke: var(--svg-path);
  stroke-width: 1px;

}

.sdp-arc.sdp-psd {
  opacity: 0.5;
  stroke: var(--svg-path);
  stroke-width: 1px;

}

.hidden {
  opacity: 0 !important;
}


/* .blur-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: none;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  mask-image: linear-gradient(to bottom,
      black 10%,
      transparent 45%,
      transparent 55%,
      black 90%);

  -webkit-mask-image: linear-gradient(to bottom,
      black 10%,
      transparent 45%,
      transparent 55%,
      black 90%);
} */

.lighter {
  opacity: 0.8;
}